html { 
  background: url(background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar.navbar-no-bg {
    background: #444;	
    background: rgba(0, 0, 0, 0.2);